
.input-TodoSearch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  } 

.TodoSearch {
    background: #fdecff29;
    border-radius: 4px;
    border: 2px solid #f8bff1;
    margin: 1.7em;
    margin-top: -1.5em;
    height: 64px;
    width: 36.4em;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #ffffffab;
    
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    color: #ffffff;
   
  }