body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7652d0, #e73c7edb, #23a5d5d0, #23d5abcd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
